<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/Research">Research</a></li>
	        		<li><a href="/Team">Team</a></li>
	        		<li><a href="/Publications">Publications</a></li>
              <li><a href="/Courses">Courses</a></li>
              <li><a href="/Outreach">Outreach</a></li>
              <li><a href="/Resources">Resources</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:tremblam@purdue.edu">Contact Marissa</a></li>
	        		<li><a href="https://twitter.com/TremblayMarissa">Twitter</a></li>
              <li><a href="https://github.com/mtrems">Github</a></li>
              <li><a href="https://www.eaps.purdue.edu/">Purdue EAPS</a></li>
				</ul>
			</footer>
		</body>
	</html>
